@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: #9b59b6;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    height: 425px;
    width: 700Px;
}

.header {
    background-color: #f7f7f7;
    border-bottom:  1px solid #f0f0f0;
    padding: 10px 40px;
}
.header > h2 {
    margin: 0;
}
#form {
    padding: 10px 40px;
}

.form-control {
    margin-bottom: 10px;
}

.form-control > label {
   display:inline;
   margin-bottom: 40px;
}
.form-control > input, .form-control > div> input {
    display:inline;
    border:  2px solid #f0f0f0;
    border-radius: 4px;
    padding: 5px;
}
#startdate-year, #enddate-year, #startdate-month, #startdate-date,
#enddate-year, #enddate-month, #enddate-date {  
    width: 40px;
    text-align: center;
}
#startdate-year, #enddate-year{
    width: 60px;
}
#amount{
    position: relative;
    left: 26px;
}
small {
    visibility: hidden;
}
button {
    background-color: white;
    border: 2px solid #8e44ad;
    border-radius: 4px;
    color: #8e44ad;
    font-family: inherit;
    font-size: 15px;
    text-align:center;
    padding: 5px;
    width: 20%;
    margin-top: 10px;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #8e44ad;
    color: white;
}

#result {
    padding: 10px 40px;
    display: block;
}
h4 {
    margin: 0;
}
#result span{
    display: block;
    font-family: inherit;
    color: red;
}
